@import '../../styles/base/typography';
@import '../../styles/base/variables';

.tab-view{
  display: flex;
  flex-direction: column;
  gap: 8px;
  
  &__item{
    padding: 16px 8px 16px 20px;
    border-radius: 8px;
    color: $chaos-black;

    &--fixture{
      background-color: $whiteout;

      &:nth-child(even){
        background-color: $white;
      }
    }

    &--team, &--player{
      background-color: $nosegay;

      &:nth-child(-n+4){
        background-color: $alpine-goat;
      }
    }
  }
  
  &__title{
    display: flex;
    justify-content: space-between;
    padding: 8px;

    &-right-side, &-left-side{
      display: flex;
      gap: 50px;
      font-weight: $font-weight-light;
      color: $digital;
      font-size: $font-size-lg;
    }
  }

  &__loading{
    text-align: center;
  }
}