<template name="tabView">
  {{#if isActive 'results'}}
    <div id="results" class="tab-view tab-view--active">
      {{#if isLoading}}
        <div class="tab-view__loading">Yükleniyor</div>
      {{else}} 
        {{#each info}}
          <div class="tab-view__item">{{> fixtureInfo info=this}}</div>
        {{/each}}
      {{/if}}
    </div>
  {{/if}}

  {{#if isActive 'league'}}
    <div id="league" class="tab-view tab-view--active">
      <div class="tab-view__title">
        <div class="tab-view__title-left-side">
          <span>Kulüp</span>
        </div>
        <div class="tab-view__title-right-side">
          <span>G</span>
          <span>B</span>
          <span>M</span>
          <span>Puan</span>
        </div>
      </div>

      {{#if isLoading}}
        <div class="tab-view__loading">Yükleniyor</div>
      {{else}} 
        {{#each info}}
          <div class="tab-view__item">{{> teamInfo info=this }}</div>
        {{/each}}
      {{/if}}
      
    </div>
  {{/if}}

  {{#if isActive 'goalKings'}}
    <div id="goalKings" class="tab-view tab-view--active">
      <div class="tab-view__title">
        <div class="tab-view__title-left-side">
          <span>Oyuncu</span>
        </div>
        <div class="tab-view__title-right-side">
          <span>Maç</span>
          <span>Gol</span>
        </div>
      </div>

      {{#if isLoading}}
        <div class="tab-view__loading">Yükleniyor</div>
      {{else}} 
        {{#each info}}
          <div class="tab-view__item">{{> playerInfo info=this }}</div>
        {{/each}}
      {{/if}}
      
    </div>
  {{/if}}
</template>
