<template name="tabView">
  {{#if isActive 'results'}}
    <div id="results" class="tab-view tab-view--active">
      {{#if isLoading}}
        <div class="tab-view__loading">Yükleniyor</div>
      {{else}} 
        {{#each info}}
          <div class="tab-view__item">{{> fixtureInfo info=this}}</div>
        {{/each}}
      {{/if}}
    </div>
  {{/if}}

  {{#if isActive 'league'}}
    <div id="league" class="tab-view tab-view--active">
      <div class="tab-view__title">
        <div class="tab-view__title-left-side">
          <span>Kulüp</span>
        </div>
        <div class="tab-view__title-right-side">
          
          <div class="tab-view__title-right-side-win">
            G
          </div>
    
          <div class="tab-view__title-right-side-equal">
            B
          </div>
    
          <div class="tab-view__title-right-side-defeat">
            M
          </div>
    
          <div class="tab-view__title-right-side-points">
            Puan
          </div>
    
        </div>
      </div>

      {{#if isLoading}}
        <div class="tab-view__loading">Yükleniyor</div>
      {{else}} 
        {{#each info}}
          <div class="tab-view__item">{{> teamInfo info=this }}</div>
        {{/each}}
      {{/if}}
      
    </div>
  {{/if}}

  {{#if isActive 'goalKings'}}
    <div id="goalKings" class="tab-view tab-view--active">
      <div class="tab-view__title">

        <div class="tab-view__title-left-side">
          <span>Oyuncu</span>
        </div>

        <div class="tab-view__title-right-side">
          <div class="tab-view__title-right-side-match">
            Maç
          </div>
    
          <div class="tab-view__title-right-side-goal">
            Gol
          </div>
        </div>
        
      </div>

      {{#if isLoading}}
        <div class="tab-view__loading">Yükleniyor</div>
      {{else}} 
        {{#each info}}
          <div class="tab-view__item">{{> playerInfo info=this index=(increment @index) }}</div>
        {{/each}}
      {{/if}}
      
    </div>
  {{/if}}
</template>
