<template name="tabView">

  {{#if isActive 'results'}}

    <div id="results" class="tab-view">

      {{#if isLoading}}
        <div class="tab-view__loading">Yükleniyor</div>
      {{else}} 
        {{#each info}}
          <div class="tab-view__item tab-view__item--fixture">{{> fixtureInfo info=this}}</div>
        {{/each}}
      {{/if}}

    </div>

  {{/if}}

  {{#if isActive 'league'}}

    <div id="league" class="tab-view">

      <div class="tab-view__title">

        <div class="tab-view__title-left-side">
          <span>Kulüp</span>
        </div>

        <div class="tab-view__title-right-side">
          
          <div class="tab-view__title-right-side-item">
            G
          </div>
    
          <div class="tab-view__title-right-side-item">
            B
          </div>
    
          <div class="tab-view__title-right-side-item">
            M
          </div>
    
          <div class="tab-view__title-right-side-item">
            Puan
          </div>
    
        </div>

      </div>

      {{#if isLoading}}
        <div class="tab-view__loading">Yükleniyor</div>
      {{else}} 
        {{#each info}}
          <div class="tab-view__item tab-view__item--team">{{> teamInfo info=this }}</div>
        {{/each}}
      {{/if}}
      
    </div>

  {{/if}}

  {{#if isActive 'goalKings'}}

    <div id="goalKings" class="tab-view">

      <div class="tab-view__title">

        <div class="tab-view__title-left-side">
          <span>Oyuncu</span>
        </div>

        <div class="tab-view__title-right-side">
          <div class="tab-view__title-right-side-item">
            Maç
          </div>
    
          <div class="tab-view__title-right-side-item">
            Gol
          </div>
        </div>
        
      </div>

      {{#if isLoading}}
        <div class="tab-view__loading">Yükleniyor</div>
      {{else}} 
        {{#each info}}
          <div class="tab-view__item tab-view__item--player">{{> playerInfo info=this index=(increment @index) }}</div>
        {{/each}}
      {{/if}}
      
    </div>

  {{/if}}
  
</template>
