@import '../../styles/base/typography';
@import '../../styles/base/variables';

.tab-view{
  display: none;

  &--active{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title{
    display: flex;
    justify-content: space-between;
    padding: 8px;

    &-right-side, &-left-side{
      display: flex;
      gap: 8px;
      color: $digital;
      font-size: $font-size-lg;
      font-weight: $font-weight-light;
    }
  }
}