<template name="teamInfo">
  <div class="team-info">

    <div class="team-info__left-side">

      <div class="team-info__left-side-order">
        1
      </div>

      <div class="team-info__left-side-avatar">
        {{# avatar class="avatar--purple"}}<span>{{getFirstTwoCharsUpperCase "Chelsea"}}</span> {{/avatar}}
      </div>

      <div class="team-info__left-side-team">
        Chelsea
      </div>

    </div>

    <div class="team-info__right-side">

      <div class="team-info__right-side-win">
        14
      </div>

      <div class="team-info__right-side-equal">
        3
      </div>

      <div class="team-info__right-side-defeat">
        1
      </div>

      <div class="team-info__right-side-points">
        35
      </div>

    </div>

  </div>
</template>