<template name="teamInfo">
  <div class="team-info">

    <div class="team-info__left-side">

      <div class="team-info__left-side-order">
        {{info.rank}}
      </div>

      <div class="team-info__left-side-avatar">
        {{# avatar class="avatar--purple"}}<span>{{getFirstTwoCharsUpperCase info.team}}</span> {{/avatar}}
      </div>

      <div class="team-info__left-side-team">
        {{info.team}}
      </div>

    </div>

    <div class="team-info__right-side">

      <div class="team-info__right-side-item">
        {{info.win}}
      </div>

      <div class="team-info__right-side-item">
        {{info.draw}}
      </div>

      <div class="team-info__right-side-item">
        {{info.lose}}
      </div>

      <div class="team-info__right-side-item">
        {{info.point}}
      </div>

    </div>

  </div>
</template>