@import '../../styles/base/typography';
@import '../../styles/base/variables';

.fixture-info{
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__team{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    &-details{
      display: flex;
      align-items: center;
      gap: 15px;
      font-size: $font-size-lg;
      font-weight: $font-weight-normal;

      &-home, &-away{
        width: 150px;
      }
    }
  }

  &__status{
    display: flex;
    gap: 40px;

    &-date{
      display: flex;
      align-items: center;
      color: $digital;
      font-size: $font-size-sm;
      font-weight: $font-weight-light;
      text-wrap: nowrap;
    }

    &-button-group{
      display: flex;
      align-items: center;
      gap:16px;
    }
  }
}