@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// Font family variables
$font-family-inter: 'Inter', sans-serif;

// Font size variables
$font-size-sm: 14px;
$font-size-lg: 16px;
$font-size-xl: 20px;

// Font weight variables
$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;