// colors
$beluga: #f1f1f1;
$white: #ffffff;
$whiteout: #fbfbfb;
$placebo: #e7e7e7;
$chaos-black: #100f0f;
$rainy-grey: #a4a4a4;
$digital: #636363;
$swiss-plum: #5742a9;
$swiss-plum-10:rgba(87, 66, 169, 0.1);
$danger: #fa0e0e;
$danger-10: rgba(250, 14, 14, 0.1);
$alpine-goat: #f2f0f9;
$nosegay: #fee6eb;
$crystal-bell: #efefef;
$transparent: transparent;