<template name="playerInfo">
  <div class="player-info">

    <div class="player-info__left-side">

      <div class="player-info__left-side-order">
        1
      </div>

      <div class="player-info__left-side-avatar">
        {{# avatar class="avatar--purple"}}<span>{{getFirstTwoCharsUpperCase info.name}}</span> {{/avatar}}
      </div>

      <div class="player-info__left-side-player">
        {{info.name}}
      </div>

    </div>

    <div class="player-info__right-side">

      <div class="player-info__right-side-match">
        20
      </div>

      <div class="player-info__right-side-goals">
        {{info.goals}}
      </div>

    </div>

  </div>
</template>