<template name="playerInfo">
  <div class="player-info">

    <div class="player-info__left-side">

      <div class="player-info__left-side-order">
        1
      </div>

      <div class="player-info__left-side-avatar">
        {{> avatar class="avatar--purple"}}
      </div>

      <div class="player-info__left-side-player">
        Mbaye Diagne
      </div>

    </div>

    <div class="player-info__right-side">

      <div class="player-info__right-side-match">
        14
      </div>

      <div class="player-info__right-side-goals">
        3
      </div>

    </div>

  </div>
</template>