@import '../../styles/base/typography';
@import '../../styles/base/variables';

.player-info{
  display: flex;
  justify-content: space-between;
  padding: 16px 8px 16px 20px;
  border-radius: 8px;
  color: $chaos-black;
  font-size: $font-size-lg;
  font-weight: $font-weight-normal;
  background-color: $nosegay;
  color: $chaos-black;

  &:nth-child(-n+3){
    background-color: $alpine-goat;
  }

  &__left-side,&__right-side{
    display: flex;
    align-items: center;
    gap: 16px;

    &-match, &-goals{
      font-weight: $font-weight-light;
    }
  }
}