@import '../../styles/base/typography';
@import '../../styles/base/variables';

.player-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 88px;

  &__left-side{
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__right-side{
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}