@import '../../styles/base/typography';
@import '../../styles/base/variables';

.tab-item{
  display: inline;
  color: $rainy-grey;
  padding: 11px;
  cursor: pointer;
  font-size: $font-size-lg;
  font-weight: $font-weight-light;

  &--active{
    color: $chaos-black;
    border-bottom: 4px solid $swiss-plum;
  }
}